:root{
   --pink:#e84393;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x:hidden;
}
section{
    padding: 2rem 9%;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}
.logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
} 
.logo span{
    color:var(--pink);
}
.navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}
.navbar a:hover{
    color: var(--pink);
}
.auto-icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left:1.5rem;
}
.auto-icons a:hover{
    color: var(--pink);
}
#toggler{
     display: none;
}
.fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;  
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(image10.avif) no-repeat;
    background-size: cover;
    background-position: center;
}
.content{
    max-width: 80rem;
    padding-left: 2rem ;
}
.content h3{
    font-size: 4rem;
    color: #333;
}
.content span{
    font-size: 3.5rem;
    color: #333;
    padding: 1rem 0;
    line-height: 1.5;
}
.content p{
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
    line-height: 1.5;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .video-container{
    flex: 1 1 40rem;
    position: relative;
}
 .about .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 5rem;
    box-shadow: 0 .5rem 1rem  rgba(0, 0, 0, .1);
    height: 0%;
    object-fit: cover;
} 
.video-container h3{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background-color: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background-color: bisque;
 } 

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 12px 24px;
    background-color: #333; 
    color: white;
    text-decoration: none;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 1rem;
}
.btn:hover{
    background: #f4a460;
}
.icons-container{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.icons{
    background: #fff;
    border: 1rem solid rgba(0, 0, 0, .1);
    padding: 2rem;
    align-items: center;
    flex: 1 1 25rem;
}
.icons img{
    height: 5rem;
    margin-right: 2rem;
}
.info h3{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.info span{
    color: #555;
    font-size: 1.3rem;
}
.products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

}
.products .box-container .box{
    flex: 1 1 30rem;
    /* box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, .1); */
    border-radius: 2rem;
    border: 1px solid rgba(0, 0, 0, .1);
    position: relative;
}
.discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    color: black;
    background: rgba(255, 51, 153, .05);
    z-index: 1;
    border-radius: 5rem;
}
.image{
    position: inherit;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.image img{
    height: 25rem;
}
.products .box-container .box:hover .image img{
    transform: scale(1.1);
}
.A-icons{
    position: absolute;
    bottom: -7rem; left: 0; right: 0;
    display: flex;
}
.box:hover .image .A-icons{
    bottom: 0;
}
.A-icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background-color: #f4a460;
    color: #fff;
}
.A-icons .cart-btn{
    border-left: 1rem solid #fff7;
     border-right: 1rem solid #fff7;
     width: 100%;
}
.A-icons a:hover{
    background: #333;
}
.content-A{
    padding: 2rem;
    text-align: center;
}
.content-A h3{
    font-size: 2.5rem;
    color: #333;
}
.content-A .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;

}
.price span{
    font-size: 2.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;    
}

.container {
    display: flex;
    max-width: 900px;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 40px;
    padding: 20px;
}

.form-container {
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0.5rem  rgba(0, 0, 0, .1);
    border: 1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: 5rem;

}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    background: #f4a460;
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 200%;
    height: 100%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;    
}
.footer .box-container .box{
    flex: 1 25rem;
}
.footer .box-container .box h3{
   color: #333;
   font-size: 2.5rem;
   padding: 1rem 0;
}
.footer .box-container .box a{
    display: block;
   color: #666;
   font-size: 1.5rem;
   padding: 1rem 0;
}
.footer .box-container .box a:hover{
    color: var(--pink);
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    padding: 1,5rem;
    margin-top: 1.5rem;
    padding-top: 2,5rem;
    font-size: 2rem;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, .1);

}
.footer .credit span{
    color: #f4a460;
}
/* media queries */
@media (max-width:991px) {
html{
    font-size: 55%;
}
header{
    padding: 2rem;
}
section{
    padding: 2rem;
}
.home{
    background-position: left;
}
}
@media (max-width:768px) {
.fa-bars{
    display: block;
}
.navbar{
    position: absolute;
    top:100%; left: 0; right: 0;
    background: #eee;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0, 0 0);
}
#toggler:checked ~ .navbar{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, .1);
    display: block;
}
.home .content h3{
    font-size: 5rem;
}
.home .content span{
    font-size: 2.5rem;
}
.info h3{
    font-size: 2rem;
}
.info span{
    font-size: 1.7rem;
}

}
@media (max-width:450px) {
html{
    font-size: 50%;
}
.heading{
    font-size: 3rem;
}
}
